//initial variables

$ctc-red: #d10f22;

//font variables
$roboto-slab: 'Quicksand', sans-serif;
$josefin-sans: 'Josefin Sans', sans-serif;

$family-sans-serif: $josefin-sans;

//derived variables

$primary: $ctc-red;
$link: $ctc-red;
