
// Fonts
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300&display=swap');

// Variables
@import 'variables';

// Bulma
@import '~buefy/src/scss/buefy-build.scss';

html, body {
  height: 100% !important;
}

.nav-links, .nav-links .container{
    min-height: 20px !important;
    height: 45px;
    font-size: 1.25rem;
}

#navbar-scrolling {
  transition: top 0.3s;
}




