
// Fonts
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

// Variables
@import 'variables';

// Bulma
@import '~buefy/src/scss/buefy-build.scss';

html {
  background-color: black;
  background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('../resources/images/smoky-stage-simple.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-links, .nav-links .container{
    min-height: 20px !important;
    height: 45px;
    font-size: 1.25rem;
}

#navbar-scrolling {
  transition: top 0.3s;
}




